.grid-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 43px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-amb {
    margin: 30px auto;
}

.grid-imb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-imb li,
.grid-imb figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 480px) {
    .grid-imb {
        grid-template-columns: 1fr;
    }
}

/* ---------------------------------------------------------------------------------------------- */
/* Exemplo com FlexBox */

@media (max-width: 800px) {
    .grid-lista {
        flex-direction: column;
        gap: 23px;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.menu {
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    justify-content: center;
}

/* ---------------------------------------------------------------------------------------------- */

.grid-teste {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
}

@media (max-width: 800px) {
    .grid-teste {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid-teste {
        grid-template-columns: 1fr;
    }
}

